/// FORM VARIABLES ///
$input-height: 48px;
$input-text-color: #333;
$input-border-color: #333;
$input-border-width: 1px;
$input-margin-bottom: em(20px);
$placeholder-color: #ccc;

/// FORM DEFAULTS ///
form {margin-bottom:$input-margin-bottom;}
label {display:block;}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {-webkit-appearance: none; background-color: #fff; border:$input-border-width solid $input-border-color; color:$input-text-color; display:block; font-size: em(16px); margin: 0 0 $input-margin-bottom 0; padding:em(10px); height: $input-height; width: 100%; @include transition(all 0.15s linear); @include box-sizing(border-box); @include border-radius(0);}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {@include box-shadow(#ccc 2px 2px 2px); outline:none;}
input[type="checkbox"], input[type="radio"] {margin:0 em(10px) $input-margin-bottom 0;}
textarea {height: auto; resize:none;}
select {width: 100%; margin-bottom:$input-margin-bottom;}
::-webkit-input-placeholder {color:$placeholder-color;}
::-moz-placeholder {color:$placeholder-color;}
:-ms-input-placeholder {color:$placeholder-color;}
input[type="submit"], button {display:inline-block; background:#fff; border:$input-border-width solid $input-border-color; color:$input-text-color; height: $input-height; padding:0 em(10px); @include transition(all .15s ease);}
input[type="submit"]:hover, button:hover {background:#000; color:#fff;}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}

/// Error ///
form .error {border-color:red!important; border-width:2px!important;}

/// SELECT REPLACEMENT ///
.select {position:relative; zoom:1; margin-bottom:$input-margin-bottom; overflow:hidden; white-space:nowrap;}
.select select {height: $input-height; position:absolute; left:0; top:0; margin:0; -webkit-appearance:none; -moz-appearance:none; z-index:2; @include opacity(0);}
.select select + .place {border:$input-border-width solid $input-border-color; font-size:em(16px); color:$input-text-color; background:#fff; display:block; height:$input-height; padding:em(10px, 16px) em(30px, 16px) em(10px, 16px) em(10px, 16px); text-align:left; position:relative; cursor:pointer;}
.select select + .place:before {content: ""; width:0; height:0; position:absolute; top:50%; right:16px; margin-top:-2px; border-style:solid; border-width:6px 4px 0 4px; border-color:$input-border-color transparent transparent transparent;}

/// CHECKBOX & RADIO REPLACEMENT ///
.checkbox, .radio {position:relative; zoom:1; overflow:hidden; display:block; margin-bottom:$input-margin-bottom;}
.checkbox input, .radio input {position:absolute; margin:0; padding:0; left:0; @include opacity(0);}
.checkbox label, .radio label {margin:0; float:left; padding-left:em(24px); cursor:pointer; position:relative;}
.checkbox label:before, .radio label:before {content:""; width:16px; height:16px; border:2px solid $input-border-color; position:absolute; left:0; top:50%; margin-top:-8px;}
.radio label:before {@include border-radius(50%);}
.checkbox input[type="checkbox"]:checked + label:before,
.radio input[type="radio"]:checked + label:before {background:$input-border-color;}
.lt-ie9 .checkbox input, .lt-ie9 .radio input {@include opacity(1); top:5px;}
.lt-ie9 .checkbox label:before, .lt-ie9 .radio label:before {display:none;}

/// PREFIX POSTFIX ///
.postfix, .prefix {display:block; position:relative; z-index:2; text-align:center; width:100%; overflow:hidden; background:#000; color:#fff; border:$input-border-width solid $input-border-color; padding:em(13px) 0 em(12px); height:$input-height;}