/// CUSTOM GRID ///

/* Settings */
$max-width: 1200px; //em(1534px);
$large-screen: 1024px;
$medium-screen: 640px;

$base-gutter: em(20px);
$large-gutter: em(40px); //set to $base-gutter if gutter should be the same
$medium-gutter: $large-gutter;

/* Calculations */
$gutter-half: ($base-gutter / 2);
$medium-gutter-half: ($medium-gutter / 2);
$large-gutter-half: ($large-gutter / 2);

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: $max-width;
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.row .row {
  width: auto;
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
.row .row:after {
  clear: both;
}
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}

.column,
.columns {
  position: relative;
  padding-left: $gutter-half;
  padding-right: $gutter-half;
  width: 100%;
  float: left;
}

@media only screen {
  .column,
  .columns {
    position: relative;
    padding-left: $gutter-half;
    padding-right: $gutter-half;
    float: left;
  }

  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  .small-3 {
    position: relative;
    width: 25%;
  }

  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  .small-6 {
    position: relative;
    width: 50%;
  }

  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  .small-9 {
    position: relative;
    width: 75%;
  }

  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  .small-12 {
    position: relative;
    width: 100%;
  }

  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}

/* Styles for screens that are atleast the size of $medium-screen; */
@media only screen and (min-width: $medium-screen) {
  .row .row {
    margin-left: -$medium-gutter-half;
    margin-right: -$medium-gutter-half;
  }

  .column,
  .columns {
    padding-left: $medium-gutter-half;
    padding-right: $medium-gutter-half;
  }

  .medium-1 {
    width: 8.33333%;
  }

  .medium-2 {
    width: 16.66667%;
  }

  .medium-3 {
    width: 25%;
  }

  .medium-4 {
    width: 33.33333%;
  }

  .medium-5 {
    width: 41.66667%;
  }

  .medium-6 {
    width: 50%;
  }

  .medium-7 {
    width: 58.33333%;
  }

  .medium-8 {
    width: 66.66667%;
  }

  .medium-9 {
    width: 75%;
  }

  .medium-10 {
    width: 83.33333%;
  }

  .medium-11 {
    width: 91.66667%;
  }

  .medium-12 {
    width: 100%;
  }

  .medium-offset-0 {
    margin-left: 0%;
  }

  .medium-offset-1 {
    margin-left: 8.33333%;
  }

  .medium-offset-2 {
    margin-left: 16.66667%;
  }

  .medium-offset-3 {
    margin-left: 25%;
  }

  .medium-offset-4 {
    margin-left: 33.33333%;
  }

  .medium-offset-5 {
    margin-left: 41.66667%;
  }

  .medium-offset-6 {
    margin-left: 50%;
  }

  .medium-offset-7 {
    margin-left: 58.33333%;
  }

  .medium-offset-8 {
    margin-left: 66.66667%;
  }

  .medium-offset-9 {
    margin-left: 75%;
  }

  .medium-offset-10 {
    margin-left: 83.33333%;
  }

  .medium-offset-11 {
    margin-left: 91.66667%;
  }

  .medium-push-1 {
    left: 8.33333%;
    right: auto;
  }

  .medium-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .medium-push-2 {
    left: 16.66667%;
    right: auto;
  }

  .medium-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .medium-push-3 {
    left: 25%;
    right: auto;
  }

  .medium-pull-3 {
    right: 25%;
    left: auto;
  }

  .medium-push-4 {
    left: 33.33333%;
    right: auto;
  }

  .medium-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .medium-push-5 {
    left: 41.66667%;
    right: auto;
  }

  .medium-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .medium-push-6 {
    left: 50%;
    right: auto;
  }

  .medium-pull-6 {
    right: 50%;
    left: auto;
  }

  .medium-push-7 {
    left: 58.33333%;
    right: auto;
  }

  .medium-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .medium-push-8 {
    left: 66.66667%;
    right: auto;
  }

  .medium-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .medium-push-9 {
    left: 75%;
    right: auto;
  }

  .medium-pull-9 {
    right: 75%;
    left: auto;
  }

  .medium-push-10 {
    left: 83.33333%;
    right: auto;
  }

  .medium-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .medium-push-11 {
    left: 91.66667%;
    right: auto;
  }

  .medium-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }
}

/* Styles for screens that are atleast the size of $large-screen; */
@media only screen and (min-width: $large-screen) {
  .row .row {
    margin-left: -$large-gutter-half;
    margin-right: -$large-gutter-half;
  }

  .column,
  .columns {
    padding-left: $large-gutter-half;
    padding-right: $large-gutter-half;
  }

  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  .large-3 {
    position: relative;
    width: 25%;
  }

  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  .large-6 {
    position: relative;
    width: 50%;
  }

  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  .large-9 {
    position: relative;
    width: 75%;
  }

  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  .large-12 {
    position: relative;
    width: 100%;
  }

  .row .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  .row .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  .row .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  .row .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%;
  }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
