/// DEFUALTS ///
html, body {@extend .proxima; font-size:100%; line-height:1.8; color:$text-color;}
h1, h2, h3, h4, h5, h6 {@extend .proxima-cd-semi; color:$heading-color; margin-top:0; line-height:1.2;}
h1 {font-size:em(32px); text-transform:uppercase;}
p, ul, ol, blockquote {margin:0 0 20px 0;}
ul ul, ol ol {margin:0}
a {color:$link-color;}
a:hover {color:$hover-color;}
a:visited {color:lighten($link-color, 20%);}
blockquote {font-style:italic; font-size:120%; padding:0 em(20px);}
i {@extend .proxima-it;}

/// EXTENSIONS ///
.list-reset {margin:0; padding:0; list-style:none;}
.clearfix {*zoom:1;
    &:before, &:after {content: " "; display: table;}
    &:after {clear: both;}
}
.title-link a {color:inherit; text-decoration:none;}
.title-link a:hover {text-decoration:underline;}
.proxima-cd-semi {font-family:'ProximaNW01-AltCdSmbd', "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:normal;}
.proxima {font-family:'Proxima N W01 Reg', "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:normal;}
.proxima-it {font-family:'Proxima N W01 Reg It', "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:normal; font-style:normal;}

/// HEADER ///
.container {max-width:1400px; margin:0 auto;}
.header {background-repeat:no-repeat; background-position:top center; margin-bottom:70px; padding-top:60%; @include background-size(cover); @include breakpoint($break-medium) {padding-top:36%;}}
.logo {max-width:294px; height:147px; position:absolute; bottom:-42px; left:0; @include breakpoint($break-medium) {left:-32px;}}

/// MAIN NAV ///

/// CONTENT ///
.intro {margin-bottom:60px; @include breakpoint($break-large) {padding-right:40px;}}
.specials {margin-bottom:60px; @include breakpoint($break-large) {padding-left:40px;}}
.special-entry {margin-bottom:40px;}
.special-title {font-size:em(20px); margin-bottom:0;}
.special-entry p {margin-bottom:0px;}
.specials {margin-bottom:60px; @include breakpoint($break-large) {padding-left:40px;}}
.menu-section {padding-top:10px;}
.menu-section-title {margin-bottom:20px;}
.menu-item {margin-bottom:40px;}
.menu-title {font-size:em(18px); margin-bottom:0;}
.menu-item p {margin-bottom:0px;}
.social-links {padding:20px 0;}
.social-link {@extend .proxima-cd-semi; color:#000; text-decoration:none; position:relative; padding-left:45px; display:inline-block; line-height:1.2; font-size:em(18px);}
.social-link .icon {font-size:em(30px, 18px); position:absolute; left:0; top:50%; margin-top:-15px;}
.social-link:hover {color:#666;}
.newsletter {border:1px solid #000; padding:20px; @include breakpoint($break-medium) {padding:30px 40px 30px;}}
.newsletter-title {margin-bottom:10px;}

/// FOOTER ///
.footer {@extend .clearfix; text-align:center; background:#f1f1f1; padding:80px 0 50px;}
.contact-info {text-align:center;}
.contact-info [class^="icon-"], .contact-info [class*=" icon-"] {font-size:em(30px); color:#000;}
.contact-entry {margin-bottom:20px;}

/// BUTTONS ///
.btn {display:inline-block; text-decoration:none; @include transition(all .15s ease);}
.btn-expand {width:100%; display:block; text-align:center; max-width:100%;}
.btn-default {@extend .proxima-cd-semi; font-size:em(18px); text-transform:uppercase; border:2px solid #000; padding:7px 40px;}
.btn-default:hover {background:#000; color:#fff;}

/// ICONS ////

/// MISC ///
.vertical-center-table {display:table; height:100%; width:100%;}
.vertical-center-cell {display:table-cell; vertical-align:middle;}

/// TEXT ALIGN ///
.medium-text-left {@include breakpoint($break-medium) {text-align:left!important;}}
.medium-text-right {@include breakpoint($break-medium) {text-align:right!important;;}}
.medium-text-center {@include breakpoint($break-medium) {text-align:center!important;;}}
.large-text-left {@include breakpoint($break-large) {text-align:left!important;;}}
.large-text-right {@include breakpoint($break-large) {text-align:right!important;;}}
.large-text-center {@include breakpoint($break-large) {text-align:center!important;;}}