// PARTIALS
@import "breakpoint";
@import "compass/css3";

//GLOBAL VARIABLES
$break-large: screen 1024px;
$break-medium: screen 640px;
$break-small: max-width 640px;
$break-small-max: max-width 640px;
$break-retina: min-resolution 1.5dppx;
$assets: "/wp-content/themes/downtownkitchen/library/images/"; //use #{$assets}

//COLORS
$text-color: #666;
$heading-color: #000;
$link-color: #000;
$hover-color: #333;
$primary-color: #000;

//FUNCTIONS
$base-font: 16px;
@function em($target, $context: $base-font) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

// PROJECT STYLESHEETS
@import "normalize";
@import "global";
@import "grid";
@import "icons";
@import "forms";
//@import "vendor/flexslider";
//@import "vendor/magnific";
@import "styles";

